@model CorrectIncorrectViewModel

<p>You had @Model.CorrectAnswers  correct answers</p>
<p>These were your incorrect answers: 
    @foreach(var answer in Model.IncorrectAnswers)
    {
        <p>@answer</p>
    }    


</p>
